.webrtc-audio-disabled {
    opacity: 0.4;
    pointer-events: none;
}
.webrtc-audio-disabled .webrtc-audio-disabled-radio svg {
    pointer-events: none;
}

.webrtc-audio-choose-device-title {
    padding: 10px 10px 0 10px;
}
.webrtc-audio-choose-device {
    padding-top:5px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.webrtc-audio-choose-input-audio-con {
    position: relative;
}
.webrtc-audio-disabled-msg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #c12236;
    font-weight: bold;
}
.webrtc-audio-disabled-msg .webrtc-audio-disabled-msg-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc00;
    z-index: 0;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 30%);
}
.webrtc-audio-disabled-msg .webrtc-audio-disabled-msg-text-con {
    position: relative;
}
.webrtc-audio-disabled-msg .webrtc-audio-disabled-msg-text {
    position: relative;
    z-index: 1;
    padding: 10px;
}
.webrtc-audio-choose-device .webrtc-audio-settings_popup_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 45px;
    padding-top: 2px;
    margin-top: 7px;
    min-height: 35px;
    cursor: pointer;
}
.webrtc-audio-choose-device .webrtc-audio-hidden.webrtc-audio-settings_popup_item {
    display: none;
}
.webrtc-audio-choose-device  .webrtc-audio-disabled-radio {
    color: #a7a7a7;
    pointer-events: none;
}
.webrtc-audio-choose-device  .webrtc-audio-disabled-radio svg {
    pointer-events: none;
}
.webrtc-audio-choose-device input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.webrtc-audio-choose-device .webrtc-audio-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
}
.webrtc-audio-choose-device .webrtc-audio-radio-checkmark svg path {
    fill:#8c8c8c;
}
.webrtc-audio-choose-device label:not([data-device-id="anotherScreen"]) input:checked ~ .webrtc-audio-radio-checkmark svg path,
.webrtc-audio-choose-device input:checked ~ .webrtc-audio-radio-checkmark svg path,
.webrtc-audio-choose-device .webrtc-audio-settings_popup_item.webrtc-audio-settings_popup_active svg path {
    fill:green;
}
.webrtc-audio-choose-device .webrtc-audio-radio-checkmark svg {
    height: 35px;
    width: 35px;
}
.webrtc-audio-choose-device .webrtc-audio-notice_alert{
    color: #383d41;
    background-color: #e2e3e5;
    border: 1px solid #d6d8db;
    padding: 5px;
    font-size: 14px;
}
