.webrtc-video-choose-device {
    padding-top:5px;
    padding: 15px;
}
.webrtc-video-choose-device .webrtc-video-settings_popup_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 45px;
    padding-top: 2px;
    margin-top: 7px;
    min-height: 35px;
    cursor: pointer;
}
.webrtc-video-choose-device.webrtc-camera-disabled .webrtc-video-settings_popup_camera_item .webrtc-video-settings_popup_item {
    opacity: 0.4;
    pointer-events: none;
}
.webrtc-video-choose-device.webrtc-screen-disabled .webrtc-video-settings_popup_screen_item .webrtc-video-settings_popup_item {
    opacity: 0.4;
    pointer-events: none;
}
.webrtc-video-choose-device .webrtc-video-hidden.webrtc-video-settings_popup_item_con {
    display: none;
}
.webrtc-video-choose-device .webrtc-video-disabled-radio {
    color: #a7a7a7;
    pointer-events: none;
}
.webrtc-video-choose-device .webrtc-video-disabled-radio svg {
    pointer-events: none;
}
.webrtc-video-choose-device input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.webrtc-video-choose-device .webrtc-video-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
}
.webrtc-video-choose-device .webrtc-video-radio-checkmark svg path {
    fill:#8c8c8c;
}
.webrtc-video-choose-device label:not([data-device-id="anotherScreen"]) input:checked ~ .webrtc-video-radio-checkmark svg path,
.webrtc-video-choose-device input:checked ~ .webrtc-video-radio-checkmark svg path,
.webrtc-video-choose-device .webrtc-video-settings_popup_item_con.webrtc-video-settings_popup_active svg path {
    fill:green;
}
.webrtc-video-choose-device .webrtc-video-radio-checkmark svg {
    height: 35px;
    width: 35px;
}
.webrtc-video-choose-device .webrtc-video-notice_alert{
    color: #383d41;
    background-color: #e2e3e5;
    border: 1px solid #d6d8db;
    padding: 5px;
    font-size: 14px;
}

.webrtc-popup-dialog.webrtc-camera-permission-alert {
    background: none;
    pointer-events: none;
}

.webrtc-video-disabled-msg {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #c12236;
    font-weight: bold;
}
.webrtc-video-disabled-msg .webrtc-video-disabled-msg-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc00;
    z-index: 0;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(135 135 135 / 30%);
}
.webrtc-video-disabled-msg .webrtc-video-disabled-msg-text-con {
    position: relative;
    padding:10px;
}
.webrtc-video-disabled-msg .webrtc-video-disabled-msg-text {
    position: relative;
    z-index: 1;
}